/*notes:
webflow breakpoint translations
1440px+ (not needed unless you want custom big layouts later) style:xl*
1324px-992px base will cascade up and down if not customized (use main to generate styles)

--not using in the 2 break point verison shift everything---------
(this becomes tablet up)
{991-768px  Tablet mode/ still desktop (all styles must be added to 600-899px media query) style= medium*
NOTE: all medium WEBLFLOW styles must be removed on the page for this to count as two. make iterations of all classes for this.}

767px-477px Mobile landscape/tablets (all styles must be added to a 600px-899px media query) style=small*
478px and down default (all styles must be added to a 599 media query) style = tiny*


margins- is just 1200px full or 83.3% container
------  2 breakpoints  -------
0-599 Mobile only
600-899 Tablet up
900-1440px+ - XL : margins- 8.3 - {container 1200px at 1440px} - 8.3

class names will need to be unified later with XD compnonents, so expect audit clean up then.. (in progress)
if you change anything in webflow you have to update here too or you will get conflicts

can minfy final files or even host via github etc and link in to clean up page load
github and jsdeliver. Simply create a free account on github, create a depository and upload your file, then reference it with jsdeliver.


*/

/*temp remove badge*/
.w-webflow-badge {
  visibility: hidden !important;
}

.w-webflow-badge>img {
  visibility: hidden !important;
}

/* card overflow text styles*/

/* for body copy - line clamp set position of ellipsis*/
.two-line-text-block-ellipsis  {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.three-line-text-block-ellipsis  {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.four-line-text-block-ellipsis  {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.five-line-text-block-ellipsis  {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



/*Consonant webflow simplified media queries WIP*/ 

/* phone breakpoint 360-599px webflow style=tiny*/
@media (max-width: 599px) {
  .con-hide-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
  
  .con-hide-mobile: {
          display: none;
        }
  
  .riveflow-container {
    max-width: 100%;
    min-width: 0px;
  }

  .two-grid-uneven-container-left  {
    max-width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-auto-flow: row;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-areas: "Area"
      "Area-2";
    grid-template-columns: repeat(auto-fit, minmax(200px, 590px));
    grid-template-rows: auto auto;
  }

   .two-grid-uneven-container-right  {
    max-width: 100%;
    justify-content: stretch;
    align-items: stretch;
    grid-auto-flow: row;
    grid-column-gap: 16px;
    grid-template-areas: "Area"
      "Area-2";
    grid-template-columns: repeat(auto-fit, minmax(200px, 590px));
    grid-template-rows: auto auto;
  }

  .hero-2-card-grid-uneven-container-simple {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    grid-auto-flow: row;
    grid-column-gap: 16px;
    grid-template-areas: ".";
    grid-template-columns: repeat(auto-fit, minmax(200px, 462px));
    grid-template-rows: auto auto;
  }
  
  .hero-img-container  {
    max-width: 100%;
    min-width: 0px;
  }

  .text-mid-container-8-col {
    display: block;
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .one-grid-center-container {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    grid-auto-flow: row;
    grid-column-gap: 16px;
    grid-template-areas: "Area"
      "Area-2";
    grid-template-columns: repeat(auto-fit, minmax(100px, 462px));
    grid-template-rows: auto;
  }

  ._2-grid-max-content {
    grid-template-columns: minmax(min-content, max-content);
  }

  .simple-card-container-max {
    max-width: 590px;
  }

  .two-grid-container {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-auto-flow: row;
    grid-auto-columns: minmax(100px, 462px);
    grid-template-columns: repeat(auto-fit, minmax(100px, 462px));
    grid-template-rows: auto auto auto auto;
  }
  
  .simple-card-container {
    max-width: 100%;
    min-width: 0px;
  }

  .simple-img-mask {
    max-height: none;
    min-height: auto;
  }

  .four-card-mason-grid-container  {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-template-columns: repeat(auto-fit, minmax(100px, 378px));
    grid-template-rows: auto auto auto auto;
  }

  .discover-card-container {
    max-width: 100%;
    min-width: 0px;
  }
  
  .grid-9-3  {
    grid-template-areas: "Area"
      "Area-2";
    grid-template-columns: 2fr;
    grid-template-rows: auto auto;
  }
  
  .discover-card-hero-img-mask  {
    height: 100%;
    min-height: 275px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .hero-card-container {
    display: none;
  }

  .hero-inner-card-container-mobile {
    display: block;
  }

  .cards_comparison_product {
    max-width: 100%;
    justify-content: center;
    justify-items: stretch;
    align-items: center;
    align-content: center;
    grid-auto-flow: row;
    grid-template-areas: "Area"
      "Area-2"
      "Area-3";
    grid-template-columns: repeat(auto-fit, minmax(100px, 378px));
    grid-template-rows: auto auto auto;
  }

  .four-card-grid-container {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: stretch;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(0px, 378px));
    grid-template-rows: auto auto auto auto;
  }
  

   
}

/* tablet - mobile landscape breakpoint 600-899px  webflow style=small */
@media (min-width: 600px) and (max-width: 899px) {

.riverflow-left   {
  padding-bottom: 48px;
}

.two-grid-uneven-container-left   {
  max-width: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  align-self: stretch;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "Area"
    "Area-2";
  grid-template-columns: repeat(auto-fit, minmax(200px, 590px));
  grid-template-rows: auto auto;
}

.riverflow-right   {
  padding-bottom: 48px;
}

 .two-grid-uneven-container-right   {
  max-width: none;
  justify-items: center;
  align-items: center;
  align-content: center;
  align-self: stretch;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "Area"
    "Area-2";
  grid-template-columns: repeat(auto-fit, minmax(200px, 590px));
  grid-template-rows: auto auto;
}

/*riverflow override grid id/name div id - webflow string id changes per page so overide is needed instead - changes grid order*/
#riverflow-right-img {
  -webkit-box-ordinal-group: -9998 !important;
  -webkit-order: -9999 !important;
  -ms-flex-order: -9999 !important;
  order: -9999 !important;
}

#riverflow-text-box {
  -webkit-box-ordinal-group: 10000 !important;
  -webkit-order: 9999 !important;
  -ms-flex-order: 9999 !important;
  order: 9999 !important;
}

.hero-cta-background-container   {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  background-size: cover;
}

.hero-2-card-grid-uneven-container-simple {
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  align-self: stretch;
  grid-row-gap: 8px;
  grid-template-areas: "Area"
    "Area-2";
  grid-template-columns: repeat(auto-fit, minmax(200px, 590px));
  grid-template-rows: auto auto;
}

.text-mid-container-8-col {
  width: 100%;
}

.one-grid-center-container {
  max-width: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  align-self: stretch;
  grid-template-areas: "."
    "Area";
  grid-template-columns: repeat(auto-fit, 100%);
  grid-template-rows: auto;
}

.two-grid-container {
  max-width: none;
  justify-content: center;
  justify-items: center;
  align-items: stretch;
  align-content: stretch;
  align-self: stretch;
  grid-auto-columns: minmax(100px, 375px);
  grid-template-columns: minmax(100px, 375px) repeat(auto-fit, minmax(100px, 375px));
  grid-template-rows: auto auto;
}

.simple-card-container {
  max-height: 475px;
  max-width: 100%;
  min-height: 300px;
}

.simple-img-mask   {
  max-height: none;
  min-height: auto;
}

.four-card-mason-grid-container {
  max-width: none;
  justify-items: stretch;
  align-items: stretch;
  align-content: center;
  align-self: stretch;
  grid-auto-flow: row;
  grid-template-areas: "Area Area-2"
    "Area-4 Area-3";
  grid-template-columns: minmax(100px, 378px) repeat(auto-fit, minmax(100px, 378px));
  grid-template-rows: auto auto;
}

.discover-card-container {
  min-width: auto;
}

/*hero card grid id/name div id - webflow string id changes per page so overide is needed instead - changes grid order and column size*/
#hero-discovery-card-01 {
  -ms-grid-column-span: 1 !important;
  grid-column-end: 1 !important;
  -ms-grid-column: 1 !important;
  grid-column-start: 1 !important;
  -ms-grid-row-span: 1 !important;
  grid-row-end: 1 !important;
  -ms-grid-row: 1 !important;
  grid-row-start: 1 !important;
}

.grid-9-3   {
  justify-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  align-content: stretch;
  grid-template-areas: "Area"
    "Area-2";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}


.discover-card-hero-img-mask   {
  width: auto;
  min-height: 275px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0px;
}

.hero-card-container {
  display: none;
}

.hero-inner-card-container-mobile {
  display: block;
}

.con-card-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.cards_comparison_product {
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;
  align-content: stretch;
  align-self: stretch;
  grid-template-areas: "Area Area-3"
    "Area-2 .";
  grid-template-columns: minmax(100px, 378px) repeat(auto-fit, minmax(100px, 378px));
  grid-template-rows: auto auto;
}

.four-card-grid-container:small {
  max-width: none;
  justify-items: center;
  align-items: center;
  align-self: stretch;
  grid-template-columns: minmax(100px, 378px) repeat(auto-fit, minmax(100px, 378px));
  grid-template-rows: auto auto;
}

  

}

/* desktop med/tablet breakpoint 900-1199px webflow style-med - not using */

/*END Consonant webflow simplified media queries*/ 