/*notes:
webflow breakpoint translations
1440px+ (not needed unless you want custom big layouts later) style:xl*
1324px-992px base will cascade up and down if not customized (use main to generate styles)
991-768px  Tablet mode/ still desktop (all styles must be added to 900-1199px media query) style= medium*
767px-477px Mobile landscape/tablets (all styles must be added to a 600px-899px media query) style=small*
478px and down default (all styles must be added to a 599 media query) style = tiny*


Consonant based breakpoints:
360–599px
600–899px
900-1199px (may not always be used but helps fix issues when it comes up for authors)

1200px + Desktop up* (this does not count as a breakpoint/ its just the default view)
1920px - HD (used only where needed big lean back experiences and 4k up displays needs)

class names will need to be unified later with XD compnonents, so expect audit clean up then.. (in progress)
if you change anything in webflow you have to update here too or you will get conflicts

can minfy final files or even host via github etc and link in to clean up page load
github and jsdeliver. Simply create a free account on github, create a depository and upload your file, then reference it with jsdeliver.

maybe need later
  .con-hide-desktop {
    display: none;
  }


only need small for most marquees as tablet is the same as mobile




solve for order bewteen left and right layouts may need ids for left and right at grid level...









*/

/*temp remove badge*/
.w-webflow-badge {
  visibility: hidden !important;
}

.w-webflow-badge>img {
  visibility: hidden !important;
}

/* card overflow text styles*/

/* for body copy - line clamp set position of ellipsis*/
.two-line-text-block-ellipsis  {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.three-line-text-block-ellipsis  {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.four-line-text-block-ellipsis  {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.five-line-text-block-ellipsis  {
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
}


/*Consonant webflow simplified media queries WIP*/ 

/* container overrides - viewport the percent based containers maxwidth set */
.con-flex-container {
  width:83.3%;
  max-width: 1200px !important;
}


/* phone breakpoint 360-599px webflow style=tiny*/
@media (max-width: 599px) {
  .con-hide-mobile: {
          display: none;
        }
  
  .riveflow-container {
    max-width: 100%;
    min-width: 0px;
  }

  .two-grid-uneven-container-left  {
    max-width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-auto-flow: row;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-areas: "Area"
      "Area-2";
    grid-template-columns: repeat(auto-fit, minmax(200px, 590px));
    grid-template-rows: auto auto;
  }

   .two-grid-uneven-container-right  {
    max-width: 100%;
    justify-content: stretch;
    align-items: stretch;
    grid-auto-flow: row;
    grid-column-gap: 16px;
    grid-template-areas: "Area"
      "Area-2";
    grid-template-columns: repeat(auto-fit, minmax(200px, 590px));
    grid-template-rows: auto auto;
  }

  .hero-2-card-grid-uneven-container-simple {
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    grid-auto-flow: row;
    grid-column-gap: 16px;
    grid-template-areas: ".";
    grid-template-columns: repeat(auto-fit, minmax(200px, 462px));
    grid-template-rows: auto auto;
  }
  
  .hero-img-container  {
    max-width: 100%;
    min-width: 0px;
  }

  .text-mid-container-8-col {
    display: block;
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .one-grid-center-container {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    grid-auto-flow: row;
    grid-column-gap: 16px;
    grid-template-areas: "Area"
      "Area-2";
    grid-template-columns: repeat(auto-fit, minmax(100px, 462px));
    grid-template-rows: auto;
  }

  ._2-grid-max-content {
    grid-template-columns: minmax(min-content, max-content);
  }

  .simple-card-container-max {
    max-width: 590px;
  }

  .two-grid-container {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-auto-flow: row;
    grid-auto-columns: minmax(100px, 462px);
    grid-template-columns: repeat(auto-fit, minmax(100px, 462px));
    grid-template-rows: auto auto auto auto;
  }
  
  .simple-card-container {
    max-width: 100%;
    min-width: 0px;
  }

  .simple-img-mask {
    max-height: none;
    min-height: auto;
  }

  .four-card-mason-grid-container  {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    grid-auto-flow: row;
    grid-template-areas: ".";
    grid-template-columns: repeat(auto-fit, minmax(100px, 378px));
    grid-template-rows: auto auto auto auto;
  }

  .discover-card-container {
    max-width: 100%;
    min-width: 0px;
  }
  
  .grid-9-3  {
    grid-template-areas: "Area"
      "Area-2";
    grid-template-columns: 2fr;
    grid-template-rows: auto auto;
  }
  
  .discover-card-hero-img-mask  {
    height: 100%;
    min-height: 275px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .hero-card-container {
    display: none;
  }

  .hero-inner-card-container-mobile {
    display: block;
  }

  .cards_comparison_product {
    max-width: 100%;
    justify-content: center;
    justify-items: stretch;
    align-items: center;
    align-content: center;
    grid-auto-flow: row;
    grid-template-areas: "Area"
      "Area-2"
      "Area-3";
    grid-template-columns: repeat(auto-fit, minmax(100px, 378px));
    grid-template-rows: auto auto auto;
  }

  .four-card-grid-container {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: stretch;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(0px, 378px));
    grid-template-rows: auto auto auto auto;
  }

  /*marquee button wrapper flexes for button size changes*/
  .button-wrapper-marquee-standard-lg-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
  }
  
  .cta-mega-button-left-block {
    display: flex;
  }
  
  .cta-mega-button-left-block-last {
    display: flex;
    margin-right: 0px;
  }

  /*mega buttons*/
.con-spectrum-button-xl {
  display: block;
  max-height: none;
}

.con-spectrum-button-outline-white-xl {
  display: block;
  max-height: none;
}

   
}

/* tablet - mobile landscape breakpoint 600-899px  webflow style=small */
@media (min-width: 600px) and (max-width: 899px) {

.riverflow-left   {
  padding-bottom: 48px;
}

.two-grid-uneven-container-left   {
  max-width: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  align-self: stretch;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "Area"
    "Area-2";
  grid-template-columns: repeat(auto-fit, minmax(200px, 590px));
  grid-template-rows: auto auto;
}

.riverflow-right   {
  padding-bottom: 48px;
}

 .two-grid-uneven-container-right   {
  max-width: none;
  justify-items: center;
  align-items: center;
  align-content: center;
  align-self: stretch;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "Area"
    "Area-2";
  grid-template-columns: repeat(auto-fit, minmax(200px, 590px));
  grid-template-rows: auto auto;
}

/*riverflow override grid id/name div id - webflow string id changes per page so overide is needed instead - changes grid order*/
#riverflow-right-img {
  -webkit-box-ordinal-group: -9998 !important;
  -webkit-order: -9999 !important;
  -ms-flex-order: -9999 !important;
  order: -9999 !important;
}

#riverflow-text-box {
  -webkit-box-ordinal-group: 10000 !important;
  -webkit-order: 9999 !important;
  -ms-flex-order: 9999 !important;
  order: 9999 !important;
}

.hero-cta-background-container   {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  background-size: cover;
}

.hero-2-card-grid-uneven-container-simple {
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  align-self: stretch;
  grid-row-gap: 8px;
  grid-template-areas: "Area"
    "Area-2";
  grid-template-columns: repeat(auto-fit, minmax(200px, 590px));
  grid-template-rows: auto auto;
}

.text-mid-container-8-col {
  width: 100%;
}

.one-grid-center-container {
  max-width: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  align-self: stretch;
  grid-template-areas: "."
    "Area";
  grid-template-columns: repeat(auto-fit, 100%);
  grid-template-rows: auto;
}

.two-grid-container {
  max-width: none;
  justify-content: center;
  justify-items: center;
  align-items: stretch;
  align-content: stretch;
  align-self: stretch;
  grid-auto-columns: minmax(100px, 375px);
  grid-template-columns: minmax(100px, 375px) repeat(auto-fit, minmax(100px, 375px));
  grid-template-rows: auto auto;
}

.simple-card-container {
  max-height: 475px;
  max-width: 100%;
  min-height: 300px;
}

.simple-img-mask   {
  max-height: none;
  min-height: auto;
}

.four-card-mason-grid-container {
  max-width: none;
  justify-items: stretch;
  align-items: stretch;
  align-content: center;
  align-self: stretch;
  grid-auto-flow: row;
  grid-template-areas: "Area Area-2"
    "Area-4 Area-3";
  grid-template-columns: minmax(100px, 378px) repeat(auto-fit, minmax(100px, 378px));
  grid-template-rows: auto auto;
}

.discover-card-container {
  min-width: auto;
}

/*hero card grid id/name div id - webflow string id changes per page so overide is needed instead - changes grid order and column size*/
#hero-discovery-card-01 {
  -ms-grid-column-span: 1 !important;
  grid-column-end: 1 !important;
  -ms-grid-column: 1 !important;
  grid-column-start: 1 !important;
  -ms-grid-row-span: 1 !important;
  grid-row-end: 1 !important;
  -ms-grid-row: 1 !important;
  grid-row-start: 1 !important;
}

.grid-9-3   {
  justify-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  align-content: stretch;
  grid-template-areas: "Area"
    "Area-2";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}


.discover-card-hero-img-mask   {
  width: auto;
  min-height: 275px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 0px;
}

.hero-card-container {
  display: none;
}

.hero-inner-card-container-mobile {
  display: block;
}

.con-card-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.cards_comparison_product {
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;
  align-content: stretch;
  align-self: stretch;
  grid-template-areas: "Area Area-3"
    "Area-2 .";
  grid-template-columns: minmax(100px, 378px) repeat(auto-fit, minmax(100px, 378px));
  grid-template-rows: auto auto;
}

.four-card-grid-container {
  max-width: none;
  justify-items: center;
  align-items: center;
  align-self: stretch;
  grid-template-columns: minmax(100px, 378px) repeat(auto-fit, minmax(100px, 378px));
  grid-template-rows: auto auto;
}

/*marquees*/
.marquee-img-259h {
  display: block !important;
}

.marquee_standard_large_left {
  max-height: none;
  min-height: auto;
  background-image: linear-gradient(to bottom, hsla(0, 0.00%, 100.00%, 1.00), hsla(0, 0.00%, 100.00%, 1.00));
}

.marquee_standard_large_left-cta-bkg {
  max-height: none;
  min-height: auto;
  background-color: hsla(0, 0.00%, 17.25%, 1.00);
}

.marquee-standard-lg-container {
  max-height: none;
  min-height: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.marquee-standard-lg-left-cta {
  max-width: 100%;
}

.marquee-standard-lg-object-one {
  display: none;
}


/* order of objects one and two do not move */
.marquee-standard-lg-object-three  {
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
    -ms-flex-order: 5;
    order: 5;
  }

.marquee-standard-lg-object-four  {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
    align-self: flex-start;
}

.marquee-standard-lg-object-five {
    display: block;
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
}

.cta-mega-button-left-block {
  margin-right: 32px;
}

.cta-mega-button-left-block-last {
  margin-right: 32px;
}

/*mega buttons*/
.con-spectrum-button-xl {
  max-height: 40px;
  min-height: 40px;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 12px;
  padding-left: 22px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 1.1em;
}

.con-spectrum-button-outline-white-xl {
  max-height: 40px;
  min-height: 40px;
  padding-top: 10px;
  padding-right: 22px;
  padding-bottom: 12px;
  padding-left: 22px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 1.1em;
}

/*medium marquee*/
.marquee_standard_medium_left {
  max-height: none;
  min-height: auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), @img_606f29c90f208088323d3406, linear-gradient(to bottom, hsla(0, 0.00%, 100.00%, 1.00), hsla(0, 0.00%, 100.00%, 1.00));
  background-position: 0px 0px, 50% 50%, 0px 0px;
  background-size: auto, cover, auto;
}

.marquee_standard_medium_left-cta-bkg {
  max-height: none;
  min-height: auto;
}

.marquee-standard-med-grid {
  grid-template-areas: "Area-2"
    "Area";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.marquee-standard-med-text-container {
  max-height: none;
  min-height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
}

.marquee-standard-med-left-cta {
  display: flex;
  max-width: 100%;
}

.marquee-svg-logo-container {
  display: flex;
  order: 1;
}

.button-wrapper-cta-marquee-standard-med-left {
  padding-bottom: 56px;
}

.marquee-standard-med-container {
  max-height: none;
  min-height: auto;
  padding-top: 56px;
  padding-bottom: 32px;
}

.marquee-med-img {
  align-self: center;
}

.marq-med-container-img-right {
  align-self: center;
}

/*id and class*/
#marquee-standard-med-img.marquee-standard-med-container {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  grid-area: Area-2;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#marq-med-container-text-right.marquee-standard-med-text-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  grid-area: Area;
}

.marquee_standard_medium_right {
  max-height: none;
  min-height: auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), @img_606f29c90f208088323d3406, linear-gradient(to bottom, hsla(0, 0.00%, 100.00%, 1.00), hsla(0, 0.00%, 100.00%, 1.00));
  background-position: 0px 0px, 50% 50%, 0px 0px;
  background-size: auto, cover, auto;
}

.marquee_standard_medium_right-cta-bkg {
  max-height: none;
  min-height: auto;
}

.marquee_standard_small {
  max-height: none;
  min-height: auto;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), @img_606f29c90f208088323d3406, linear-gradient(to bottom, hsla(0, 0.00%, 100.00%, 1.00), hsla(0, 0.00%, 100.00%, 1.00));
  background-position: 0px 0px, 50% 50%, 0px 0px;
  background-size: auto, cover, auto;
}

.marquee_standard_small-cta-bkg {
  max-height: none;
  min-height: auto;
}

.marquee-standard-sm-grid {
  grid-template-areas: "Area"
    "Area-2";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.marquee-standard-sm-text-container {
  max-height: none;
  min-height: auto;
  padding-top: 48px;
  padding-bottom: 0px;
  align-self: center;
}

.marquee-standard-sm-left-cta {
  max-width: 100%;
}

.marquee-standard-sm-modal-img-container {
  max-height: none;
  min-height: auto;
  padding-top: 32px;
  padding-bottom: 48px;
}



}

/* desktop med/tablet breakpoint 900-1199px webflow style-med - Her for use as needed */
@media (min-width: 900px) and (max-width: 1199px) {
}


/*END Consonant webflow simplified media queries*/ 
