/*notes:
webflow breakpoint translations
1440px+ (not needed unless you want custom big layouts later) style:xl*
1324px-992px base will cascade up and down if not customized (use main to generate styles)
991-768px  Tablet mode/ still desktop (all styles must be added to 960-1199px media query) style= medium*
767px-477px Mobile landscape/tablets (all styles must be added to a 600px-959px media query) style=small*
478px and down default (all styles must be added to a 599 media query) style = tiny*


margins- 8.3 - {container 83.4} - 8.3
360–599px
600–1199px
1200–1440px
1440px+ - XL : margins- 8.3 - {container 1200px} - 8.3

class names will need to be unifeied later with XD compnonents, soe xpect audit clean up then.. 
if you change anything in webflow you have to update here too or you will get conflicts

can minfy final files or even host via github etc and link in to clean up page load
github and jsdeliver. Simply create a free account on github, create a depository and upload your file, then reference it with jsdeliver.






*/

<link rel="stylesheet" type ="text/css" href="https://cdn.jsdelivr.net/gh/willpowerx/prototyping/css/consonant-adobe-clean.css">

<style>
/*temp remove badge*/
.w-webflow-badge {
  visibility: hidden !important;
}

.w-webflow-badge>img {
  visibility: hidden !important;
}

/*Consonant webflow simplified media queries WIP*/ 

/* phone breakpoint 360-599px webflow style=tiny*/
@media (max-width: 599px) {
  .con-hide-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
  
  .con-hide-mobile: {
          display: none;
        }
  
  /* exact sizes vs fluid container*/
  ._16x9-960x540 {
    width: 256px;
    height: 144px;
    max-height: none;
    max-width: none;
    min-height: 144px;
    min-width: 256px;
    object-fit: contain;
  }

  .riverflow-left {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  
  ._2-card-grid-uneven-container-left {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: stretch;
    align-items: stretch;
    grid-auto-flow: row;
    grid-column-gap: 16px;
    grid-template-areas: ".";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  
  .riveflow-container {
    max-width: 100%;
    min-width: 0px;
  }
  
  
  .riverflow-right {
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  
  ._2-card-grid-uneven-container-right {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: stretch;
    align-items: stretch;
    grid-auto-flow: row;
    grid-column-gap: 16px;
    grid-template-areas: "Area Area";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  

  ._2-card-grid-container {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: stretch;
    align-items: stretch;
    grid-auto-flow: row;
    grid-column-gap: 16px;
    grid-template-areas: "Area"
      "Area-2"
      "Area-3"
      "Area-4";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .simple-card-container {
    max-width: 100%;
    min-width: 0px;
  }

  .simple-img-mask {
    max-height: none;
    min-height: auto;
  }

  ._3-card-grid-container {
    max-width: 100%;
    min-width: auto;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-auto-flow: row;
    grid-column-gap: 16px;
    grid-template-areas: ".";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    
  }
  
  .ps-app-card-container {
    max-width: 100%;
    min-width: 0px;
  }

  /*ps-app custom webflow grid id*/
  /*#w-node-efb9204a-d1c3-81db-c51b-339b6821b4eb-965f3beb {
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
}*/


  ._4-card-grid-container {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: stretch;
    justify-items: center;
    align-items: center;
    grid-auto-flow: row;
    grid-column-gap: 16px;
    grid-template-areas: ".";
    grid-template-columns: minmax(0px, 378px);
    grid-template-rows: auto auto auto auto;
  }
  
  .con-ps-card-container {
    max-width: 100%;
    min-width: 0px;
  }
  
  ._4-card-mason-grid-container {
    max-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: stretch;
    align-items: stretch;
    grid-auto-flow: row;
    grid-column-gap: 16px;
    grid-template-areas: ".";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }
  
  .discover-card-container {
    max-width: 100%;
    min-width: 0px;
  }
  
  .Block:local-styles {
    grid-column-end: 4;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
    
  .grid-9-3 {
    grid-template-areas: "Area"
      "Area-2";
    grid-template-columns: 2fr;
    grid-template-rows: auto auto;
  }
  
  .discover-card-hero-img-mask {
    height: 100%;
    min-height: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .hero-card-container {
    display: none;
  }

  .hero-inner-card-container {
    display: block;
  }

 
    
}

/* tablet - mobile landscape breakpoint webflow style=small */
@media (min-width: 600px) and (max-width: 959px) {
  ._16x9-960x540 {
    width: 426px;
    height: 240px;
    max-height: none;
    max-width: none;
    min-height: 240px;
    min-width: 426px;
  }

  .riverflow-left {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
  }
  
  ._2-card-grid-uneven-container-left {
    max-width: none;
    align-self: stretch;
    grid-template-areas: "Area"
      "Area-2";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
  
  .riverflow-right {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 20px;
  }
  
  ._2-card-grid-uneven-container-right {
    max-width: none;
    align-self: stretch;
    grid-template-areas: "Area"
      "Area-2";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  ._2-card-grid-container {
    max-width: none;
    align-self: stretch;
    grid-template-areas: "Area"
      "Area-3"
      "Area-2"
      "Area-4";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }
  
  .simple-img-mask {
    max-height: none;
    min-height: auto;
  }

  ._3-card-grid-container {
    justify-content: space-between;
    justify-items: stretch;
    align-items: stretch;
    align-content: stretch;
    align-self: stretch;
    grid-template-areas: "Area Area-3"
      "Area-2 .";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .ps-app-card-container {
    min-width: auto;
  }
  
  ._4-card-grid-container {
    max-width: none;
    align-self: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .con-ps-card-container {
    min-width: 0px;
  }


  ._4-card-mason-grid-container {
    max-width: none;
    align-self: stretch;
    grid-auto-flow: row;
    grid-column-gap: 16px;
    grid-template-areas: "Area Area-2"
      "Area-4 Area-3";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }


  /*4-card mason-grid webflow id quad cards*/
#w-node-_055dc525-7457-f92f-7e04-06c3fd34c082-965f3beb {
  -ms-grid-column-span: 2;
    grid-column-end: 2;
}

  /*custom webflow grid id singel row*/
/*#w-node-_300995be-d2c8-4975-8f50-1951e81e581e-965f3beb {
  -ms-grid-column-span: 1;
  grid-column-end: 1;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}*/

  .discover-card-container {
    min-width: auto;
  }

  .grid-9-3 {
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    align-content: stretch;
    grid-template-areas: "Area"
      "Area-2";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .discover-card-hero-img-mask {
    width: auto;
    min-height: 275px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
  }

  .hero-card-container {
    display: none;
  }

  .hero-inner-card-container {
    display: block;
  }
  
  

}

/* desktop med/tablet breakpoint webflow style-med */
@media (min-width: 960px) and (max-width: 1199px) {

  ._16x9-960x540 {
    width: 640px;
    height: 360px;
    max-height: none;
    max-width: none;
    min-height: 360px;
    min-width: 640px;
  }

  
._2-card-grid-uneven-container-left {
  justify-content: space-between;
  justify-items: stretch;
  align-content: stretch;
  grid-auto-flow: row;
  grid-column-gap: 32px;
  grid-template-areas: "Area Area-3";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}


.riveflow-container {
  min-width: 280px;
}

._2-card-grid-uneven-container-right {
  justify-content: space-between;
  justify-items: stretch;
  align-content: stretch;
  grid-auto-flow: row;
  grid-column-gap: 32px;
  grid-template-areas: "Area Area-3";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

  ._2-card-grid-container {
    justify-content: space-between;
    justify-items: stretch;
    align-content: stretch;
    grid-auto-flow: row;
    grid-template-areas: "Area Area-3";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  
  .simple-card-container {
    min-width: 280px;
  }

  .simple-img-mask {
    min-height: auto;
    max-height: auto;
  }


  ._3-card-grid-container {
    justify-content: space-between;
    justify-items: stretch;
    align-content: stretch;
    grid-auto-flow: row;
    grid-template-areas: "Area Area-3"
      "Area-2 .";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .ps-app-card-container {
    min-width: 280px;
  }

  ._4-card-grid-container {
    grid-column-gap: 20px;
    grid-template-areas: "Area Area-2"
      "Area-3 Area-4";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .con-ps-card-container: {
    min-width: 280px;
  }

  ._4-card-mason-grid-container {
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    align-content: stretch;
    grid-column-gap: 20px;
    grid-template-areas: "Area Area Area"
      "Area-2 Area-3 Area-4";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(0px, 3fr) auto;
  }

  .discover-card-container {
    min-width: auto;
  }

  .grid-9-3 {
    grid-template-areas: "Area Area-2";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  .discover-card-hero-img-mask {
    min-height: 429px;
  }

  .hero-inner-card-container {
    display: none;
  }

  
 
}
</style>


/*END Consonant webflow simplified media queries*/ 




