/*notes:
margins- 8.3 - {container 83.4} - 8.3
360–599px
600–1199px
1200–1440px
1440px+ - XL : margins- 8.3 - {container 1200px} - 8.3


weblfow makes :tiny for mobile class 
can put those values in media queries to expand effect to wider range

can minfy final files or even host via github etc and link in to clean up page load
github and jsdeliver. Simply create a free account on github, create a depository and upload your file, then reference it with jsdeliver.

*/


<style>
/*Consonant webflow simplified media queries*/ 

/* phone breakpoint 360-599px */
@media (max-width: 599px) {

      .con-hide-desktop:tiny {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
      }

/* Consonant Type WIP 1/28/21 */
  
  .h1 {
    margin-bottom: 7px;
    font-size: 28px;
  }

  
  .h2 {
    margin-bottom: 6px;
    font-size: 24px;
  }
    
  .h3 {
    margin-bottom: 5px;
    font-size: 20px;
  }
  
  .h4 {
    margin-bottom: 4.5px;
    font-size: 18px;
  }
  
  .h5 {
    margin-bottom: 4px;
    font-size: 16px;
  }
  
  .h6 {
    margin-bottom: 4px;
    font-size: 16px;
  }

/*tshirt headings*/

.heading-xxxl {
    margin-bottom: 11px;
    font-size: 44px !important;
    line-height: 55px;
      }
      
.heading-xxl {
    margin-bottom: 9px;
    font-size: 36px;
    line-height: 45px;
        }
        
.heading-xl {
    margin-bottom: 7px;
    font-size: 28px;
    line-height: 35px;
        }
        
.heading-l {
    margin-bottom: 6px;
    font-size: 24px;
    line-height: 30px;
        }
           
.heading-m {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 25px;
        }
        
.heading-m {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 25px;
      }
      
.heading-s {
    font-size: 18px;
    line-height: 22.5px;
        }
        
.heading-xs {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 20px;
        }     


}

/* tablet breakpoint */
@media (min-width: 600px) and (max-width: 1199px) {
    .heading-xxxl {
        margin-top: 0px;
        margin-bottom: 20px;
        font-family: adobe-clean;
        color: #2c2c2c;
        font-size: 80px;
        line-height: 88px;
      }

}

</style>


/*END Consonant webflow simplified media queries*/ 

/*webflow code for refrence*/

.con-flex-container {
  display: block;
  max-width: 83.3%;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.con-flex-container:xl {
  max-width: 1200px;
}

/* Consonant Type WIP 1/28/21 */

.h1 {
    margin-top: 0px;
    margin-bottom: 9px;
    font-family: adobe-clean;
    color: #2c2c2c;
    font-size: 36px;
    line-height: 1.25;
  }
  
  .h1:tiny {
    margin-bottom: 7px;
    font-size: 28px;
  }

  .h2 {
    margin-top: 0px;
    margin-bottom: 7px;
    font-family: adobe-clean;
    color: #2c2c2c;
    font-size: 28px;
    line-height: 1.25;
  }
  
  .h2:tiny {
    margin-bottom: 6px;
    font-size: 24px;
  }
  
  .h3 {
    margin-top: 0px;
    margin-bottom: 6px;
    font-family: adobe-clean;
    color: #2c2c2c;
    font-size: 28px;
    line-height: 1.25;
  }
  
  .h3:tiny {
    margin-bottom: 5px;
    font-size: 20px;
  }

  .h4 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: adobe-clean;
    color: #2c2c2c;
    font-size: 20px;
    line-height: 1.25;
  }
  
  .h4:tiny {
    margin-bottom: 4.5px;
    font-size: 18px;
  }

  .h5 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: adobe-clean;
    color: #2c2c2c;
    font-size: 18px;
    line-height: 1.25;
  }
  
  .h5:tiny {
    margin-bottom: 4px;
    font-size: 16px;
  }

  .h6 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: adobe-clean;
    color: #2c2c2c;
    font-size: 18px;
    line-height: 1.25;
  }
  
  .h6:tiny {
    margin-bottom: 4px;
    font-size: 16px;
  }



/*tshirt headings*/
.heading-xxxl {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: adobe-clean;
  color: #2c2c2c;
  font-size: 80px;
  line-height: 88px;
}

.heading-xxxl:tiny {
  margin-bottom: 11px;
  font-size: 44px;
  line-height: 55px;
}

.heading-xxl {
    margin-top: 0px;
    margin-bottom: 11px;
    font-family: adobe-clean;
    color: #2c2c2c;
    font-size: 44px;
    line-height: 55px;
  }
  
  .heading-xxl:tiny {
    margin-bottom: 9px;
    font-size: 36px;
    line-height: 45px;
  }

  .heading-xl {
    margin-top: 0px;
    margin-bottom: 9px;
    font-family: adobe-clean;
    color: #2c2c2c;
    font-size: 36px;
    line-height: 45px;
  }
  
  .heading-xl:tiny {
    margin-bottom: 7px;
    font-size: 28px;
    line-height: 35px;
  }

  .heading-l {
    margin-top: 0px;
    margin-bottom: 7px;
    font-family: adobe-clean;
    color: #2c2c2c;
    font-size: 28px;
    line-height: 35px;
  }
  
  .heading-l:tiny {
    margin-bottom: 6px;
    font-size: 24px;
    line-height: 30px;
  }

  .heading-m {
    margin-top: 0px;
    margin-bottom: 6px;
    font-family: adobe-clean;
    color: #2c2c2c;
    font-size: 24px;
    line-height: 30px;
  }
  
  .heading-m:tiny {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 25px;
  }

  .heading-m {
  margin-top: 0px;
  margin-bottom: 6px;
  font-family: adobe-clean;
  color: #2c2c2c;
  font-size: 24px;
  line-height: 30px;
}

.heading-m:tiny {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 25px;
}

.heading-s {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: adobe-clean;
    color: #2c2c2c;
    font-size: 20px;
    line-height: 25px;
  }
  
  .heading-s:tiny {
    font-size: 18px;
    line-height: 22.5px;
  }

  .heading-xs {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: adobe-clean;
    color: #2c2c2c;
    font-size: 18px;
    line-height: 22.5px;
  }
  
  .heading-xs:tiny {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 20px;
  }



  card

    border: solid 1px #EAEAEA;
    border-radius: 3px;
    color: #2c2c2c;
    background-color: #FFFFFF;


text in card

width: 100%;
    max-width: 100%;
    flex: 1 1 auto;
    min-height: 220px;
}


<div class="horizontalRule">
    <hr style="border-bottom: 1px solid #EAEAEA;">
</div>

.spectrum--lightest .spectrum-Button--cta {
    background-color: #1473e6;
    border-color: #1473e6;
    color: #fff;
}